Repository CommunityToolkit/dotnet, pull requests merged in 2022-06, with the labels that each got.

#285 Properly forward nullability annotations for [ICommand]
  CommunityToolkit.Mvvm.SourceGenerators/Input/ICommandGenerator.Execute.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ICommandAttribute.cs
Labels: improvements :sparkles:, next preview :airplane:, mvvm-toolkit :toolbox:

#275 Fix ICommand generator with inherited CanExecute members
  CommunityToolkit.Mvvm.SourceGenerators/Extensions/INamedTypeSymbolExtensions.cs
  CommunityToolkit.Mvvm.SourceGenerators/Input/ICommandGenerator.Execute.cs
  tests/CommunityToolkit.Mvvm.ExternalAssembly/ModelWithObservablePropertyAndMethod.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ObservablePropertyAttribute.cs
Labels: mvvm-toolkit :toolbox:, bugfix :wrench:

#289 Strong-name sign assemblies
  CommunityToolkit.HighPerformance/Properties/AssemblyInfo.cs
  CommunityToolkit.Mvvm/Properties/AssemblyInfo.cs
  build/Community.Toolkit.Common.props
Labels: CI/pipeline 🔬

#288 Rename attributes, enable class-level support
  CommunityToolkit.Mvvm.SourceGenerators/AnalyzerReleases.Shipped.md
  CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/Models/PropertyInfo.cs
  CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.Execute.cs
  CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.cs
  CommunityToolkit.Mvvm.SourceGenerators/Diagnostics/DiagnosticDescriptors.cs
  CommunityToolkit.Mvvm.SourceGenerators/Input/RelayCommandGenerator.Execute.cs
  CommunityToolkit.Mvvm.SourceGenerators/Input/RelayCommandGenerator.cs
  CommunityToolkit.Mvvm/ComponentModel/Attributes/NotifyCanExecuteChangedForAttribute.cs
  CommunityToolkit.Mvvm/ComponentModel/Attributes/NotifyDataErrorInfoAttribute.cs
  CommunityToolkit.Mvvm/ComponentModel/Attributes/NotifyPropertyChangedForAttribute.cs
  CommunityToolkit.Mvvm/ComponentModel/Attributes/NotifyPropertyChangedRecipientsAttribute.cs
  CommunityToolkit.Mvvm/Input/Attributes/RelayCommandAttribute.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/Test_SourceGeneratorsDiagnostics.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ObservablePropertyAttribute.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_RelayCommandAttribute.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_SourceGenerators.cs
Labels: feature :bulb:, introduce breaking changes :boom:, next preview :airplane:, priority 🚩, mvvm-toolkit :toolbox:

#290 Update Company and Authors metadata items
  build/Community.Toolkit.Common.props
Labels: maintenance :gear:

#310 Add missing trimming annotations
  CommunityToolkit.Common/Extensions/TaskExtensions.cs
  CommunityToolkit.Mvvm/ComponentModel/ObservableValidator.cs
Labels: improvements :sparkles:

#309 Add "this." prefix to all field accesses
  .editorconfig
  CommunityToolkit.Common/Deferred/DeferredEventArgs.cs
  CommunityToolkit.Common/Deferred/EventDeferral.cs
  CommunityToolkit.HighPerformance/Buffers/SpanOwner{T}.cs
  CommunityToolkit.HighPerformance/Enumerables/RefEnumerable{T}.cs
  CommunityToolkit.HighPerformance/NullableRef{T}.cs
  CommunityToolkit.HighPerformance/ReadOnlyRef{T}.cs
  CommunityToolkit.HighPerformance/Ref{T}.cs
  CommunityToolkit.HighPerformance/Streams/MemoryStream{TSource}.Memory.cs
  CommunityToolkit.Mvvm.SourceGenerators/Helpers/HashCode.cs
  CommunityToolkit.Mvvm/ComponentModel/__Internals/__TaskExtensions.cs
  CommunityToolkit.Mvvm/Messaging/Internals/System/Gen2GcCallback.cs
  CommunityToolkit.Mvvm/Messaging/Internals/System/Runtime.CompilerServices/ConditionalWeakTable2{TKey,TValue}.ZeroAlloc.cs
  CommunityToolkit.Mvvm/Messaging/Internals/System/Runtime.CompilerServices/ConditionalWeakTable2{TKey,TValue}.cs
  CommunityToolkit.Mvvm/Messaging/Internals/Type2.cs
  CommunityToolkit.Mvvm/Messaging/StrongReferenceMessenger.cs
  tests/CommunityToolkit.Diagnostics.UnitTests/Test_Guard.cs
  tests/CommunityToolkit.Mvvm.DisableINotifyPropertyChanging.UnitTests/Test_DisableINotifyPropertyChanging.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_INotifyPropertyChangedAttribute.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ObservableObject.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ObservableObjectAttribute.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ObservableRecipient.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ObservableValidator.cs
Labels: maintenance :gear:

#301 Improve exceptions for invalid command arguments
  CommunityToolkit.Mvvm/Input/AsyncRelayCommand{T}.cs
  CommunityToolkit.Mvvm/Input/Interfaces/IAsyncRelayCommand.cs
  CommunityToolkit.Mvvm/Input/RelayCommand{T}.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Helpers/ExceptionHelper.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_AsyncRelayCommand{T}.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_RelayCommand{T}.cs
Labels: improvements :sparkles:, next preview :airplane:, priority 🚩, mvvm-toolkit :toolbox:
