Repository CommunityToolkit/dotnet, pull requests merged in 2022-04, with the labels that each got.

#184 Fix MissingMethodExceptions for Stream extensions
  CommunityToolkit.HighPerformance/Extensions/StreamExtensions.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Streams/Test_MemoryStream.cs
Labels: next preview :airplane:, priority 🚩, high-performance 🚂, bugfix :wrench:

#190 Change IndexOf APIs to return -1 if not found
  CommunityToolkit.HighPerformance/Extensions/ReadOnlySpanExtensions.cs
  CommunityToolkit.HighPerformance/Extensions/SpanExtensions.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Extensions/Test_ReadOnlySpanExtensions.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Extensions/Test_SpanExtensions.cs
Labels: feature :bulb:, improvements :sparkles:, introduce breaking changes :boom:, next preview :airplane:, high-performance 🚂

#183 Remove SpinLock extension taking an object
  CommunityToolkit.HighPerformance/Extensions/SpinLockExtensions.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Extensions/Test_SpinLockExtensions.cs
Labels: introduce breaking changes :boom:, next preview :airplane:, priority 🚩, high-performance 🚂

#181 Fix [ICommand] generator crashing with overloads, add diagnostics
  CommunityToolkit.Mvvm.SourceGenerators/AnalyzerReleases.Unshipped.md
  CommunityToolkit.Mvvm.SourceGenerators/Diagnostics/DiagnosticDescriptors.cs
  CommunityToolkit.Mvvm.SourceGenerators/Input/ICommandGenerator.Execute.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/Test_SourceGeneratorsDiagnostics.cs
Labels: improvements :sparkles:, next preview :airplane:, priority 🚩, mvvm-toolkit :toolbox:, bugfix :wrench:

#202 Fix incorrect MVVMTK0015 with inherited members
  CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.Execute.cs
  CommunityToolkit.Mvvm.SourceGenerators/Extensions/INamedTypeSymbolExtensions.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ObservablePropertyAttribute.cs
Labels: next preview :airplane:, priority 🚩, bugfix :wrench:

#169 Revamp observable collection APIs
  CommunityToolkit.Mvvm/Collections/IReadOnlyObservableGroup{TKey,TElement}.cs
  CommunityToolkit.Mvvm/Collections/IReadOnlyObservableGroup{TKey}.cs
  CommunityToolkit.Mvvm/Collections/Internals/ObservableGroupHelper.cs
  CommunityToolkit.Mvvm/Collections/ObservableGroupedCollectionExtensions.cs
  CommunityToolkit.Mvvm/Collections/ObservableGroupedCollection{TKey,TElement}.cs
  CommunityToolkit.Mvvm/Collections/ObservableGroupedCollection{TKey,TValue}.cs
  CommunityToolkit.Mvvm/Collections/ObservableGroup{TKey,TElement}.cs
  CommunityToolkit.Mvvm/Collections/ReadOnlyObservableGroupedCollection{TKey,TElement}.cs
  CommunityToolkit.Mvvm/Collections/ReadOnlyObservableGroupedCollection{TKey,TValue}.cs
  CommunityToolkit.Mvvm/Collections/ReadOnlyObservableGroup{TKey,TElement}.cs
  tests/CommunityToolkit.Common.UnitTests/Extensions/Test_EventHandlerExtensions.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Collections/IntGroup.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Collections/ObservableGroupTests.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Collections/ObservableGroupedCollectionExtensionsTests.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Collections/ObservableGroupedCollectionTests.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Collections/ReadOnlyObservableGroupTests.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Collections/Test_ObservableGroup.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Collections/Test_ObservableGroupedCollection.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Collections/Test_ObservableGroupedCollectionExtensions.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Collections/Test_ReadOnlyObservableGroup.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Collections/Test_ReadOnlyObservableGroupedCollection.cs
Labels: introduce breaking changes :boom:, next preview :airplane:, priority 🚩, mvvm-toolkit :toolbox:

#199 Add EnsureCapacity to ArrayPoolExtensions
  CommunityToolkit.HighPerformance/Extensions/ArrayPoolExtensions.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Extensions/Test_ArrayPoolExtensions.cs
Labels: feature :bulb:, high-performance 🚂

#211 Fix generation of nested types that are not classes
  CommunityToolkit.Mvvm.SourceGenerators/Models/HierarchyInfo.Syntax.cs
  CommunityToolkit.Mvvm.SourceGenerators/Models/HierarchyInfo.cs
  CommunityToolkit.Mvvm.SourceGenerators/Models/TypeInfo.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_SourceGenerators.cs
Labels: next preview :airplane:, priority 🚩, mvvm-toolkit :toolbox:, bugfix :wrench:
