Repository CommunityToolkit/dotnet, pull requests merged in 2022-01, with the labels that each got.

#79 Add [RequiresPreviewFeatures] to unsafe APIs
  CommunityToolkit.HighPerformance/Extensions/SpinLockExtensions.cs
  CommunityToolkit.HighPerformance/NullableReadOnlyRef{T}.cs
  CommunityToolkit.HighPerformance/NullableRef{T}.cs
  CommunityToolkit.HighPerformance/Properties/Polyfills/RequiresPreviewFeaturesAttribute.cs
  CommunityToolkit.HighPerformance/ReadOnlyRef{T}.cs
  CommunityToolkit.HighPerformance/Ref{T}.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/CommunityToolkit.HighPerformance.UnitTests.csproj
Labels: improvements :sparkles:, introduce breaking changes :boom:, maintenance :gear:, next preview :airplane:, priority 🚩, high-performance 🚂

#78 Remove class constraint from Guard.Is[Not]Null APIs
  CommunityToolkit.Diagnostics/Guard.cs
  CommunityToolkit.Diagnostics/Internals/Guard.ThrowHelper.cs
  tests/CommunityToolkit.Diagnostics.UnitTests/Test_Guard.cs
Labels: improvements :sparkles:, next preview :airplane:, diagnostics 🔬

#87 Calculate the current C# compiler version
  CommunityToolkit.Mvvm/CommunityToolkit.Mvvm.targets
Labels: build :fire:, First time contributor :wave:, next preview :airplane:, priority 🚩, mvvm-toolkit :toolbox:, bugfix :wrench:

#88 Bump NuGet package reference versions
  CommunityToolkit.Diagnostics/CommunityToolkit.Diagnostics.csproj
  CommunityToolkit.HighPerformance/CommunityToolkit.HighPerformance.csproj
  CommunityToolkit.Mvvm/CommunityToolkit.Mvvm.csproj
  Directory.Build.props
  tests/CommunityToolkit.Common.UnitTests/CommunityToolkit.Common.UnitTests.csproj
  tests/CommunityToolkit.Diagnostics.UnitTests/CommunityToolkit.Diagnostics.UnitTests.csproj
  tests/CommunityToolkit.HighPerformance.UnitTests/CommunityToolkit.HighPerformance.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.DisableINotifyPropertyChanging.UnitTests/CommunityToolkit.Mvvm.DisableINotifyPropertyChanging.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.Internals.UnitTests/CommunityToolkit.Mvvm.Internals.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.KeepSourceGeneratorAttributes.UnitTests/CommunityToolkit.Mvvm.KeepSourceGeneratorAttributes.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.UnitTests/CommunityToolkit.Mvvm.UnitTests.csproj
Labels: build :fire:, maintenance :gear:, next preview :airplane:, nuget 📦, priority 🚩

#91 Update .targets for MVVM Toolkit to fix .wapproj issues
  CommunityToolkit.Mvvm/CommunityToolkit.Mvvm.targets
Labels: build :fire:, next preview :airplane:, nuget 📦, priority 🚩, mvvm-toolkit :toolbox:, bugfix :wrench:

#92 Disable generation of header files if no targets are present
  CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservableValidatorValidateAllPropertiesGenerator.cs
  CommunityToolkit.Mvvm.SourceGenerators/Extensions/IncrementalGeneratorInitializationContextExtensions.cs
  CommunityToolkit.Mvvm.SourceGenerators/Messaging/IMessengerRegisterAllGenerator.cs
Labels: next preview :airplane:, priority 🚩, mvvm-toolkit :toolbox:, bugfix :wrench:

#84 Fix linter issues with ReadMe
  README.md
Labels: documentation :page_with_curl:, First time contributor :wave:

#106 Allow using [ICommand(CanExecute)] on generated observable properties
  CommunityToolkit.Mvvm.SourceGenerators/Input/ICommandGenerator.Execute.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ICommandAttribute.cs
Labels: next preview :airplane:, mvvm-toolkit :toolbox:, bugfix :wrench:
