Repository CommunityToolkit/dotnet, pull requests merged in 2023-03, with the labels that each got.

#630 Add [field:] and [property:] support for [RelayCommand] methods
  src/CommunityToolkit.Mvvm.SourceGenerators/AnalyzerReleases.Shipped.md
  src/CommunityToolkit.Mvvm.SourceGenerators/CommunityToolkit.Mvvm.SourceGenerators.projitems
  src/CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.Execute.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Diagnostics/DiagnosticDescriptors.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Diagnostics/SuppressionDescriptors.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Diagnostics/Suppressors/ObservablePropertyAttributeWithPropertyTargetDiagnosticSuppressor.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Diagnostics/Suppressors/RelayCommandAttributeWithFieldOrPropertyTargetDiagnosticSuppressor.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Extensions/SymbolInfoExtensions.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Extensions/SyntaxTokenExtensions.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Input/Models/CommandInfo.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Input/RelayCommandGenerator.Execute.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Input/RelayCommandGenerator.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/Test_SourceGeneratorsCodegen.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/Test_SourceGeneratorsDiagnostics.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ObservablePropertyAttribute.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_RelayCommandAttribute.cs
Labels: feature :bulb:, mvvm-toolkit :toolbox:

#631 fix: Added missing Dispose() call to HashCode.cs.
  src/CommunityToolkit.Mvvm.SourceGenerators/Helpers/HashCode.cs
Labels: optimization ☄, mvvm-toolkit :toolbox:

#633 Support partial methods and forwarded attributes with [RelayCommand]
  src/CommunityToolkit.Mvvm.SourceGenerators/CommunityToolkit.Mvvm.SourceGenerators.projitems
  src/CommunityToolkit.Mvvm.SourceGenerators/Extensions/MethodDeclarationSyntaxExtensions.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Extensions/SyntaxNodeExtensions.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Input/RelayCommandGenerator.Execute.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Input/RelayCommandGenerator.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Polyfills/SyntaxValueProviderExtensions.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/Test_SourceGeneratorsCodegen.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_RelayCommandAttribute.cs
Labels: mvvm-toolkit :toolbox:, bugfix :wrench:

#635 Bump version to 8.2.0
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/Test_SourceGeneratorsCodegen.cs
  version.json
Labels: CI/pipeline 🔬, nuget 📦

#636 Bump NuGet packages to latest stable
  src/Directory.Build.props
  tests/CommunityToolkit.Common.UnitTests/CommunityToolkit.Common.UnitTests.csproj
  tests/CommunityToolkit.Diagnostics.UnitTests/CommunityToolkit.Diagnostics.UnitTests.csproj
  tests/CommunityToolkit.HighPerformance.UnitTests/CommunityToolkit.HighPerformance.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.DisableINotifyPropertyChanging.UnitTests/CommunityToolkit.Mvvm.DisableINotifyPropertyChanging.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.Internals.UnitTests/CommunityToolkit.Mvvm.Internals.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.Roslyn401.UnitTests/CommunityToolkit.Mvvm.Roslyn401.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.Roslyn431.UnitTests/CommunityToolkit.Mvvm.Roslyn431.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn431.UnitTests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn431.UnitTests.csproj
Labels: maintenance :gear:

#646 Add [MemberNotNull] to [ObservableProperty] set accessors
  src/CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/Models/PropertyInfo.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.Execute.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/Test_SourceGeneratorsCodegen.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ObservablePropertyAttribute.cs
Labels: improvements :sparkles:, mvvm-toolkit :toolbox:

#653 Improve XML docs over generated code
  src/CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.Execute.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservableValidatorValidateAllPropertiesGenerator.Execute.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Messaging/IMessengerRegisterAllGenerator.Execute.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Models/HierarchyInfo.Syntax.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/Test_SourceGeneratorsCodegen.cs
Labels: documentation :page_with_curl:, improvements :sparkles:, mvvm-toolkit :toolbox:
