Repository CommunityToolkit/dotnet, pull requests merged in 2024-08, with the labels that each got.

#832 Add .NET 8 TFM to all projects and AOT annotations
  Directory.Build.props
  azure-pipelines.yml
  build/Community.Toolkit.Common.props
  build/Community.Toolkit.Common.targets
  src/CommunityToolkit.Common/CommunityToolkit.Common.csproj
  src/CommunityToolkit.Diagnostics/CommunityToolkit.Diagnostics.csproj
  src/CommunityToolkit.HighPerformance/CommunityToolkit.HighPerformance.csproj
  src/CommunityToolkit.HighPerformance/Extensions/NullableExtensions.cs
  src/CommunityToolkit.HighPerformance/Extensions/ReadOnlySpanExtensions.cs
  src/CommunityToolkit.HighPerformance/Extensions/StreamExtensions.cs
  src/CommunityToolkit.HighPerformance/Extensions/StringExtensions.cs
  src/CommunityToolkit.HighPerformance/Helpers/ParallelHelper.For.IAction.cs
  src/CommunityToolkit.HighPerformance/Helpers/ParallelHelper.For.IAction2D.cs
  src/CommunityToolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IInAction.cs
  src/CommunityToolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IInAction2D.cs
  src/CommunityToolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IRefAction.cs
  src/CommunityToolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IRefAction2D.cs
  src/CommunityToolkit.Mvvm/CommunityToolkit.Mvvm.csproj
  src/CommunityToolkit.Mvvm/ComponentModel/ObservableRecipient.cs
  src/CommunityToolkit.Mvvm/Messaging/IMessengerExtensions.cs
  src/Directory.Build.props
  src/Directory.Build.targets
  tests/CommunityToolkit.Common.UnitTests/CommunityToolkit.Common.UnitTests.csproj
  tests/CommunityToolkit.Diagnostics.UnitTests/CommunityToolkit.Diagnostics.UnitTests.csproj
  tests/CommunityToolkit.HighPerformance.UnitTests/CommunityToolkit.HighPerformance.UnitTests.csproj
  tests/CommunityToolkit.HighPerformance.UnitTests/Extensions/Test_ArrayExtensions.1D.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Extensions/Test_ReadOnlySpanExtensions.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Extensions/Test_SpanExtensions.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Extensions/Test_StringExtensions.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Memory/Test_ReadOnlyMemory2D{T}.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Memory/Test_ReadOnlySpan2D{T}.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Test_NullableReadOnlyRef{T}.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Test_ReadOnlyRef{T}.cs
  tests/CommunityToolkit.Mvvm.DisableINotifyPropertyChanging.UnitTests/CommunityToolkit.Mvvm.DisableINotifyPropertyChanging.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.Internals.UnitTests/CommunityToolkit.Mvvm.Internals.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.Roslyn401.UnitTests/CommunityToolkit.Mvvm.Roslyn401.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.Roslyn431.UnitTests/CommunityToolkit.Mvvm.Roslyn431.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests/Test_AsyncVoidReturningRelayCommandMethodCodeFixer.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests/Test_ClassUsingAttributeInsteadOfInheritanceCodeFixer.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests/Test_FieldReferenceForObservablePropertyFieldCodeFixer.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn431.UnitTests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn431.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/Helpers/CSharpAnalyzerWithLanguageVersionTest{TAnalyzer}.cs
  tests/CommunityToolkit.Mvvm.UnitTests/Test_ObservablePropertyAttribute.cs
Labels: build :fire:, CI/pipeline 🔬, improvements :sparkles:, maintenance :gear:, nuget 📦, testing :building_construction:

#908 Update NuGet packages to latest stable
  Directory.Build.props
  tests/CommunityToolkit.Common.UnitTests/CommunityToolkit.Common.UnitTests.csproj
  tests/CommunityToolkit.Diagnostics.UnitTests/CommunityToolkit.Diagnostics.UnitTests.csproj
  tests/CommunityToolkit.HighPerformance.UnitTests/CommunityToolkit.HighPerformance.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.DisableINotifyPropertyChanging.UnitTests/CommunityToolkit.Mvvm.DisableINotifyPropertyChanging.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.Internals.UnitTests/CommunityToolkit.Mvvm.Internals.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.Roslyn401.UnitTests/CommunityToolkit.Mvvm.Roslyn401.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.Roslyn431.UnitTests/CommunityToolkit.Mvvm.Roslyn431.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests/Test_AsyncVoidReturningRelayCommandMethodCodeFixer.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests/Test_ClassUsingAttributeInsteadOfInheritanceCodeFixer.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn401.UnitTests/Test_FieldReferenceForObservablePropertyFieldCodeFixer.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn431.UnitTests/CommunityToolkit.Mvvm.SourceGenerators.Roslyn431.UnitTests.csproj
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/Helpers/CSharpAnalyzerWithLanguageVersionTest{TAnalyzer}.cs
Labels: maintenance :gear:

#909 Add AOT support in WinRT scenarios to the MVVM Toolkit
  src/CommunityToolkit.Mvvm/Collections/ObservableGroupedCollection{TKey,TElement}.cs
  src/CommunityToolkit.Mvvm/Collections/ReadOnlyObservableGroupedCollection{TKey,TElement}.cs
  src/CommunityToolkit.Mvvm/CommunityToolkit.Mvvm.csproj
  src/CommunityToolkit.Mvvm/DependencyInjection/Ioc.cs
  src/CommunityToolkit.Mvvm/Input/AsyncRelayCommand.cs
  src/CommunityToolkit.Mvvm/Input/AsyncRelayCommand{T}.cs
  src/CommunityToolkit.Mvvm/Input/Internals/CancelCommand.cs
  src/CommunityToolkit.Mvvm/Input/Internals/DisabledCommand.cs
  src/CommunityToolkit.Mvvm/Input/RelayCommand.cs
  src/CommunityToolkit.Mvvm/Input/RelayCommand{T}.cs
  src/CommunityToolkit.Mvvm/Messaging/IMessengerExtensions.Observables.cs
Labels: improvements :sparkles:, next preview :airplane:, mvvm-toolkit :toolbox:

#841 Include sizeof(T) in offset calculation for Memory2D from MemoryManager
  src/CommunityToolkit.HighPerformance/Memory/Memory2D{T}.cs
  src/CommunityToolkit.HighPerformance/Memory/ReadOnlyMemory2D{T}.cs
  tests/CommunityToolkit.HighPerformance.UnitTests/Memory/Test_ReadOnlySpan2D{T}.cs
Labels: high-performance 🚂, bugfix :wrench:

#910 Update CsWinRT to latest stable
  src/CommunityToolkit.Mvvm/CommunityToolkit.Mvvm.csproj
Labels: maintenance :gear:

#912 Disable IID optimizer in MVVM Toolkit
  src/CommunityToolkit.Mvvm/CommunityToolkit.Mvvm.csproj
Labels: build :fire:, mvvm-toolkit :toolbox:

#916 Update Windows SDK package version
  src/CommunityToolkit.Mvvm/CommunityToolkit.Mvvm.csproj
Labels: build :fire:

#915 Don't generate 'INotifyPropertyChanging' code if not requested
  src/CommunityToolkit.Mvvm.SourceGenerators/CommunityToolkit.Mvvm.SourceGenerators.projitems
  src/CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.Execute.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Extensions/GeneratorAttributeSyntaxContextWithOptions.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/Extensions/IncrementalGeneratorInitializationContextExtensions.cs
  src/CommunityToolkit.Mvvm/CommunityToolkit.Mvvm.FeatureSwitches.targets
Labels: optimization ☄, mvvm-toolkit :toolbox:, analyzer :eyeglasses:

#918 Generate trim annotations for [NotifyDataErrorInfo] properties
  src/CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/Models/PropertyInfo.cs
  src/CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.Execute.cs
  tests/CommunityToolkit.Mvvm.SourceGenerators.UnitTests/Test_SourceGeneratorsCodegen.cs
Labels: improvements :sparkles:, mvvm-toolkit :toolbox:, analyzer :eyeglasses:
